<%#ユーザー側%>
<h1 class="text-center">コメント一覧</h1>
  <table class="table table-bordered">
    <% current_user.comments.each do |comment| %>
    <thead>
      <tr>
        <th class="text-center">本文</th>
        <th class="text-center">投稿画像</th>
        <% if comment.user == current_user %>
        <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= comment.comment_content %></td>
        <td class="text-center">
          <% if comment.post.image.attached? %>
            <%= image_tag comment.post.image, size: "100x100" %>
          <% end %>
        </td>
        <% if comment.user == current_user %>
        <td class="text-center"><%= link_to "削除",public_post_comment_path(comment.post.id,comment),method: :delete, class:"btn btn-secondary" %></td>
        <% end %>
      </tr> 
    </tbody>
    <% end %>
  </table>
  <div class="text-center">
    <%= link_to "戻る",:back, class:"btn btn-primary" %>
  </div>