<div class="toppage">
  <h1 class="text-center">トップページ</h1>
  <div class="toppage__heroarea">
    <h2 class="text-right">
      Our_Placeへようこそ！<br>
      ここは周囲の人には打ち明けられない悩みや想いを抱えた人が<br>
      同じ悩みや想いを抱えた人と繋がることができる場所です。
    </h2>
  </div>
</div>
