.toppage {
  
  &__heroarea {
    background-image: url(../images/toppage.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    
    h2 {
      
    }
  }
}
 @import '~bootstrap/scss/bootstrap';
 @import '~@fortawesome/fontawesome-free/scss/fontawesome';
 
 .header-text{
   margin-right: 10px;
 }
 
.text-header{
  justify-content: flex-end;
}