<h1><%= @user.user_name %></h1>
  <%= image_tag @user.get_profile_image(200,200) %>

<h2>自己紹介</h2>
<%= @user.introduction %>

<h2>登録情報
 <%= link_to "編集する", edit_public_user_path,class: "btn btn-success ml2" %>
</h2>